<%= turbo_frame_tag "report_form" do %>
  <%= form_with model: CommitmentReportForm.new, url: foundation_reporting_commitment_report_path(@foundation), html: {id: "commitment_report"} do |f| %>            
    <div class="card-body py-1">

      <span class="badge text-bg-secondary">Report Format</span>
      <div class="card my-1 px-1">
        <div class="form-check pt-1">
          <%= f.radio_button :format, "summary", { checked: true, class: "form-check-input" }  %>
          <%= f.label :format_summary, "Summary Report", class: "form-check-label" %>
        </div>          
        <div class="form-check">
          <%= f.radio_button :format, "detailed", class: "form-check-input"  %>
          <%= f.label :format_detailed, "Detailed Report", class: "form-check-label" %>
        </div>
      </div>

      <span class="badge text-bg-secondary">What to print</span>
      <div class="card my-1 px-1">
        <div class="form-check pt-1 ">
          <%= f.radio_button :state, "open", { checked: true, class: "form-check-input" }  %>
          <%= f.label :state_open, "Open Commitments", class: "form-check-label" %>
        </div>          
        <div class="form-check">
          <%= f.radio_button :state, "closed", class: "form-check-input"  %>
          <%= f.label :state_closed, "Closed Commitments", class: "form-check-label" %>
        </div>
      </div>

      <span class="badge text-bg-secondary">Sort report by</span>
      <div class="card my-1 px-1">
        <div class="row pt-1">
          <div class="col">
            <div class="form-check">
              <%= f.radio_button :sort, "alpha", { checked: true, class: "form-check-input" } %>
              <%= f.label :sort_alpha, "Alpha", class: "form-check-label" %>
            </div>                
          </div>
          <div class="col">
            <div class="form-check">
              <%= f.radio_button :sort, "date", class: "form-check-input"  %>
              <%= f.label :sort_date, "Date", class: "form-check-label" %>
            </div>
          </div>
        </div>
      </div>

      <div class="pt-2 d-grid gap-1">
        <button type="button" class="btn btn-outline-secondary btn-sm" 
                
                data-action="click->reports#print_commitment">
          <i class="bi bi-printer pe-1"></i>Print Report
        </button>          
      </div>          
    </div>
  <% end %>
<% end %>