<%= turbo_frame_tag "foundation_list" do %>
  <table>
    <thead>
      <tr>
        <th colspan="2">Foundations</th>
      </tr>
    </thead>
    <tbody>
      <% @foundations.each do |foundation| %>
        <tr>
          <td><%=foundation.long_name %></td>
          <td class="auto-width">
            <div class="btn-group">
              <%# ============================================== %>
              <%= link_to dashboard_foundation_path(foundation), 
                    :"data-turbo-stream" => true,
                    class: "btn btn-sm btn-outline-primary btn-foundation" do %>
                <i class="bi bi-folder-symlink pe-1"></i><%= foundation.short_name %>
              <% end %>
              
              <%= button_to foundation, method: :delete, class: "btn btn-sm btn-outline-danger", 
                    form: {data: {turbo_confirm: 'Are you sure? (This cannot be undone!!)'}} do %>
                <i class="bi bi-trash pe-1"></i>Delete
              <% end %>  
              <%# ============================================== %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
