<%#
  This template is i18n-ready: if you don't use i18n, then you can replace the pagy_t
  calls with the actual strings ("&lsaquo; Prev", "Next &rsaquo;", "&hellip;").
  The link variable is set to a proc that returns the link tag.
  Usage: anchor.call(page_number [, text [, extra_attributes_string]])
-%>
<%# anchor = pagy_anchor(pagy, link_extra: 'class="page-link"') -%>
<% anchor = pagy_anchor(pagy, anchor_string: 'class="page-link" data-turbo-stream="true"') -%>
<nav class="pagy-bootstrap-nav" role="navigation">
  <ul class="pagination justify-content-center mb-0">
    <% if pagy.prev %>
    <%# , 'aria-label="previous"' %>
      <li class="page-item prev"><%== anchor.call(pagy.prev, "Prev") %></li>
    <% else %>
      <li class="page-item prev disabled"><a href="#" class="page-link"> Prev </a></li>
    <% end %>
    <% pagy.series.each do |item| %>
      <% if item.is_a?(Integer) %>
        <li class="page-item"><%== anchor.call(item) %></li>
      <% elsif item.is_a?(String) %>
        <li class="page-item active"><%== anchor.call(item) %></li>
      <% elsif item == :gap %>
        <li class="page-item disabled gap"><a href="#" class="page-link"><%== pagy_t('pagy.nav.gap') %></a></li>
      <% end %>
    <% end %>
    <% if pagy.next %>
    <%# , 'aria-label="next"' %>
      <li class="page-item next"><%== anchor.call(pagy.next, 'Next') %></li>
    <% else %>
      <li class="page-item next disabled"><a href="#" class="page-link">Next</a></li>
    <% end %>
  </ul>
</nav>
<div class="text-center mb-2"><%== pagy_info(pagy) %></div>
