<!DOCTYPE html>
<html>
  <head>
    <title>Error <%= @error_code %></title>
    <%# <title>Error - Invalid Request</title> %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%# <meta name="turbo-prefetch" content="false"> %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%#= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module", defer: true %>
  </head>

  <body class="bg-light d-flex justify-content-center align-items-center vh-100">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
          <div class="card shadow-sm">
            <div class="card-body p-5">
              <h1 class="display-4 text-danger">Oops!</h1>
                <p class="lead"><b>ERROR: <%= @error_code %></b><br></p>          
                <p class="lead">The page you requested encountered an error. <i><%= @error_message %></i></p>
              <%= yield %>
              <%= link_to "Return to Home", root_path, class: "btn btn-primary mt-4" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
