<%= turbo_frame_tag "organization-show-sub" do %>
  <ul class="nav nav-underline justify-content-center">
    <li class="nav-item">
      <%= link_to "Contributions", contributions_foundation_organization_path(@foundation, @organization), class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Commitments", commitments_foundation_organization_path(@foundation, @organization), class: "nav-link active" %>
    </li>
  </ul>
  <div class="container-fluid py-2">
    <div class="row tb-header">
      <div class="col-6 col-sm-3">Start</div>
      <div class="d-none d-sm-block col-sm-3">End</div>
      <div class="d-none d-sm-block col-sm-3">Code</div>
      <div class="col-6 col-sm-3">Amount</div>
    </div>
    <% if @organization.commitments.size > 0 %>
      <% @organization.commitments.each do |commitment| %>
        <div class="row">
          <div class="col-6 col-sm-3">
            <%= commitment.start_at.strftime("%m/%d/%Y") %>
          </div>
          <div class="d-none d-sm-block col-sm-3">
            <%= commitment.end_at.strftime("%m/%d/%Y") %>
          </div>
          <div class="d-none d-sm-block col-sm-3">
             <%= commitment.code %>
          </div>
          <div class="col-6 col-sm-3">
            <%= "#{commitment.amount.format} X #{commitment.number_payments}" %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="container text-center">No Commitments</div>
    <% end %>
  </div>
<% end %>