<%# locals: (organization:) -%>
<div class="card-body card-new">
    <div class="row">

      <div class="col">
          <div class="row">
            <div class="col-auto pe-1">
              <i class="bi bi-building" data-controller="tooltip" data-tooltip-target="tooltip" title="Organization"></i>
            </div>
            <div class="col ps-0">
              <div class="row">
                <div class="col">
                  <b><%= organization.name %></b> <br/>
                  <span class="text-small">
                    <%= organization.address_1 %><br>
                    <% if !organization.address_2.blank? %>
                      <%= organization.address_2 %><br>
                      <% end %>
                    <%= "#{organization.city}, #{organization.state} #{organization.zip}" if organization.city.present? && organization.state.present? && organization.zip.present? %>
                    <br>
                    </span>
                    <span class="text-xsmall">
                    <%= organization.country %>
                  </span>
                </div>
              </div>
            </div>
          </div>
      </div>

      <div class="col">
        <div class="card mb-2 p-1">
          <div class="row">
            <div class="text-end col-auto"><i class="bi bi-person pe-1" data-controller="tooltip" data-tooltip-target="tooltip" title="Contact"></i></div>
            <div class="col"><%= organization.contact %></div>
          </div>
        </div>
        <div class="card mb-2 p-1">
          <div class="row">
            <div class="text-end col-auto"><i class="bi bi-gear pe-1" data-controller="tooltip" data-tooltip-target="tooltip" title="Organization Type"></i></div>
            <div class="col"><%= organization.organization_type.code %></div>
          </div>
        </div>
        <div class="card p-1">
          <div class="row">
            <div class="text-end col-auto"><i class="bi bi-person-badge pe-1" data-controller="tooltip" data-tooltip-target="tooltip" title="Tax Identification #"></i></div>
            <div class="col"><%= organization.tax_number %></div>
          </div>  
        </div>
      </div>
    </div>
</div>
