<div class="container pt-2">
  <%= render 'shared/error_messages', resource: contribution %>
</div>
<%= form_with model: contribution, url: form_url do |f| %>
  <%= f.hidden_field :organization_id, value: contribution.organization.id %>
  <%= f.hidden_field :commitment_id, value: contribution.commitment.id %>
  <%= f.hidden_field :agreement_type, value: "Check" %>
  <%#= f.hidden_field :show, value: show %>
  <%= f.fields_for :agreement do |check_builder| %>
    <div class="card-body pt-1 pb-2">
      <div class="row">
        <div class="col">
          <div class="row mb-2 align-items-center">
            <div class="col-5">
              <div class="row mb-2 align-items-center">
                <div class="col-auto pe-0">
                  <i class="bi bi-calendar-date"></i>
                </div>
                <div class="col">
                  <%= check_builder.date_field :transaction_at, class: "form-control form-control-sm" %>
                </div>
              </div>
              <div class="row align-items-end">
                <div class="col-auto pe-0 pb-1">
                  <i class="bi bi-hash"></i>
                </div>
                <div class="col">
                  <div class="row">
                    <div class="col text-xsmall ps-3"> Check Number </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <%= check_builder.text_field :check_number, class: "form-control form-control-sm" %>
                    </div>
                  </div>
                  
                </div>
              </div>

            </div>
            <div class="col-7">
              <div class="card">
                <div class="row m-1">
                  <div class="col-auto">
                    <i class="bi bi-bank pe-1"></i>
                  </div>
                  <div class="col ps-0 mb-1">
                    <div class="row">
                      <div class="col fw-semibold text-xsmall">Funding Source</div>
                    </div>
                    <div class="row mb-1">
                      <div class="col">
                        <%= check_builder.collection_select :funding_source_id, @foundation.funding_sources, :id, :code,  
                          {include_blank: 'Choose...'}, {class: "form-select form-select-sm form-select-input"}  %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col fw-semibold text-xsmall">Bank Account</div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <%= check_builder.collection_select :bank_account_id, @foundation.bank_accounts, :id, :full_name,  
                          {include_blank: 'Choose...'}, {class: "form-select form-select-sm form-select-input"}  %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>


          <div class="row mb-2">
            <div class="col-6">
              <div class="row align-items-end">
                <div class="col-auto pe-0 pb-1">
                  <i class="bi bi-currency-dollar"></i>
                </div>
                <div class="col">
                  <div class="row ">
                    <div class="col text-xsmall ps-3">
                      Payment Amount
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <%= check_builder.text_field :amount, class: "form-control form-control-sm" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row align-items-end">
                <div class="col-auto pe-0 pb-1">
                  <i class="bi bi-people"></i>
                </div>
                <div class="col">
                  <div class="row">
                    <div class="col text-xsmall ps-3"> Donor </div>
                  </div>
                  <div class="row">
                    <div class="col"> 
                      <%= f.collection_select :donor_id, @foundation.donors.sort_full_name_up, :id, :full_name,  
                            {include_blank: 'Choose...'}, {class: "form-select form-select-sm form-select-input"}  %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col-auto pe-1">
                  <i class="bi bi-journal-text text-big pe-1" data-controller="tooltip" data-tooltip-target="tooltip" title="Description"></i>
                </div>
                <div class="col ps-0">    
                  <%= check_builder.text_area :description, class: "form-control", rows: 3 %>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-auto">
          <div class="btn-group-vertical">
            <%= f.button class: "btn btn-nav text-start py-1" do %>
              <i class="bi bi-floppy pe-1"></i>
              <%= "#{get_id(contribution) == -1 ? "Create" : "Save" }" %>              
            <% end %>
            <%= link_to cancel_foundation_commitment_path(@foundation, contribution.commitment.id, contribution: get_id(contribution)), 
                        :"data-turbo-stream" => true, 
                        class: "py-1 btn btn-nav text-start" do %>
              <i class="bi bi-x-square pe-1"></i>Cancel
            <% end %>
          </div>
        </div>
      </div>

    </div>
  <% end %>
<% end %>

