<div class="container mt-1">
<%= render 'shared/error_messages', resource: commitment %>
</div>
<%= form_with model: commitment, url: form_url do |f| %>
  <%= f.hidden_field :organization_id, value: commitment.organization.id %>
  <%= f.hidden_field :show, value: show %>

  <div class="card-body pt-1 pb-2">
    
    <div class="row mb-2 border-bottom border-3 border-primary align-items-center">
      <div class="col"><%= commitment.organization.name %></div>
      <div class="col"><%= commitment.organization.contact %></div>
      <div class="col">
        <span class="badge text-bg-primary mb-1">TYPE:</span> <%= commitment.organization.organization_type.code %>
      </div>
    </div>

    <div class="row mb-2 align-items-center">
      <div class="col-sm-2"><%= f.label :start_at, class: "badge text-bg-primary" %></div>
      <div class="col-sm-4">
        <%= f.date_field :start_at, class: "form-control form-control-sm" %>
      </div>
      <div class="col-sm-2"><%= f.label :end_at, class: "badge text-bg-primary" %></div>
      <div class="col-sm-4">
        <%= f.date_field :end_at, class: "form-control form-control-sm" %>
      </div>
    </div>

    <div class="row mb-2 align-items-center">
      <div class="col-sm-2"><%= f.label :number_payments, "Payments", class: "badge text-bg-primary" %></div>
      <div class="col-sm-2">
        <%= f.number_field :number_payments, class: "form-control form-control-sm" %>
      </div>
      <div class="col-sm-2"><%= f.label :amount, class: "badge text-bg-primary" %></div>
      <div class="col-sm-6">
        <%= f.text_field :amount, class: "text-end form-control form-control-sm" %>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-sm-2"><%= f.label :code, class: "badge text-bg-primary" %></div>
      <div class="col-sm-10">
        <%= f.text_field :code, class: "form-control form-control-sm" %>
      </div>
    </div>

  </div>
  <div class="card-footer border-primary bg-primary bg-opacity-10 py-1">
    <div class="row">
      <div class="col text-start">
        <%= link_to cancel_foundation_commitment_path(@foundation, get_id(commitment), :show => show), class: "btn btn-sm btn-outline-primary text-start py-1" do %>
          <i class="bi bi-x-square pe-1"></i>Cancel
        <% end %>  
      </div>
      <div class="col text-end"> 
        <%= f.button class: "btn btn-sm btn-outline-primary pv-1 text-start" do %>
          <%= "#{get_id(commitment) == -1 ? "Finish" : "Save" }" %>
          <i class="bi bi-arrow-right-circle ps-1"></i>
        <% end %>
      </div>
  </div>
<% end %>
