<%# locals: (commitment:, form:) %>

<div class="row mb-3 align-items-center">
  <div class="col">
    <div class="card px-1 py-2">
      <div class="row ps-2">
        <div class="col-auto pe-2 ">
          <i class="bi bi-buildings"></i>
        </div>
        <div class="col">
          <div class="row">
            <div class="col fw-semibold">Organization Details</div>
            
          </div>
          <div class="row align-items-end">
            <div class="col text-small">
              <%= commitment.organization.address_1 %>
              <% if !commitment.organization.address_2.blank? %>
                <br><%= commitment.organization.address_2 %>
              <% end %>
            </div>
            <div class="col "><i class="bi bi-person pe-1"></i><%= commitment.organization.contact %></div>
          </div>
          <div class="row mb-1">
            <div class="col text-xsmall">
              <%= "#{commitment.organization.city}, #{commitment.organization.state} #{commitment.organization.zip}" %><br>
              <%= commitment.organization.country %>
            </div>
            <div class="col">
              <%# <span class="badge badge-dark mb-1">TYPE:</span> %>
              <i class="bi bi-gear pe-1" data-controller="tooltip" data-tooltip-target="tooltip" title="Organization Type"></i>
              <%= commitment.organization.organization_type.code %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mb-2 align-items-center">
  <div class="col">
    <div class="card px-3 py-2">
      <div class="row mb-1">
        <div class="col fw-semibold text-xsmall">Start at</div>
      </div>
      <div class="row mb-2">
        <div class="col-auto pe-1">
          <i class="bi bi-calendar-date text-medlarge pe-1" data-controller="tooltip" data-tooltip-target="tooltip" title="Start Date"></i>
        </div>
        <div class="col ps-0">
          <%= form.date_field :start_at, class: "form-control form-control-sm" %>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col fw-semibold text-xsmall">End at</div>
      </div>
      <div class="row mb-1">
        <div class="col-auto pe-1">
          <i class="bi bi-calendar-date text-medlarge pe-1" data-controller="tooltip" data-tooltip-target="tooltip" title="Start Date"></i>
        </div>
        <div class="col ps-0">
          <%= form.date_field :end_at, class: "form-control form-control-sm" %>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="row mb-1">
      <div class="ps-5 col text-xsmall fw-semibold">
        Number of Payments
      </div>
      </div>
    <div class="row mb-2">
      <div class="col-auto pe-1">
        <i class="bi bi-x-lg text-medlarge pe-1" data-controller="tooltip" data-tooltip-target="tooltip" title="Number of Payments"></i>
      </div>
      <div class="col ps-0 d-flex">
        <span><%= form.number_field :number_payments, class: "form-control form-control-sm" %></span>
      </div>
    </div>
    <div class="row">
      <div class="col-auto pe-1">
        <i class="bi bi-currency-dollar text-medlarge pe-1" data-controller="tooltip" data-tooltip-target="tooltip" title="Amount"></i>
      </div>
      <div class="col  ps-0">
          <%= form.text_field :amount, class: "form-control form-control-sm" %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="row">
      <div class="col-auto pe-1">
        <i class="bi bi-journal-text text-medlarge pe-1" data-controller="tooltip" data-tooltip-target="tooltip" title="Code"></i>
      </div>
      <div class="col ps-0">    
        <%= form.text_field :code, class: "form-control form-control-sm" %>
      </div>
    </div>
  </div>
</div>