<div id="commitments-main" class="container py-3">

  
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col text-start">Commitment</div>
          <div class="col text-end">
            <div class="btn-group">
              <%= link_to foundation_commitments_path(@foundation), class: "btn btn-sm btn-outline-secondary" do %>
              <div class="row text-center px-2">
                  <div class="col-auto px-1"><i class="bi bi-box-arrow-left"></i></div>
                  <div class="d-none d-md-block col ps-0">Back</div>
              </div>
              <% end %>
              <%= button_to foundation_commitment_path(@foundation, @commitment, :show => "1"), method: :delete, class: "btn btn-sm btn-outline-danger", form: {data: {turbo_confirm: 'Are you sure?'}} do %>
                <div class="row text-center px-2">
                    <div class="col-auto px-1"><i class="bi bi-trash"></i></div>
                    <div class="d-none d-md-block col ps-0">Delete</div>
                </div>
              <% end %>
              <%= link_to edit_foundation_commitment_path(@foundation, @commitment, :show => "1"), 
                          class: "btn btn-sm btn-outline-secondary", 
                          data: { turbo_frame: dom_id(@commitment) }  do %>
                <div class="row text-center px-2">
                  <div class="col-auto px-1"><i class="bi bi-pencil"></i></div>
                  <div class="d-none d-md-block col ps-0">Edit</div>
              </div>
              <% end %>

            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <%= render "show_commitment" %>
      </div>
    </div>

  <div class="card border-primary mt-2">
    <div class="card-header border-primary bg-primary bg-opacity-10 px-3 py-1">Payments</div>
    <div class="card-body px-0">
      <%= render "new_contribution_placeholder" %>
      <div class="row mx-0 tb-header py-1">
        <div class="col-5 col-sm-2">
          Date
        </div>
        <div class="d-none d-sm-block col-sm-2">
          Check #
        </div>
        <div class="col-5 col-sm-2">
          Amt
        </div>
        <div class="d-none d-sm-block col-sm-2">
          Fund
        </div>
        <div class="d-none d-sm-block col-sm-3">
          Bank
        </div>
        <div class="col-2 col-sm-1 ps-0 pe-1">
          <%= link_to foundation_commitment_contribution_new_path(@foundation, @commitment), class: "py-0 btn btn-sm btn-outline-success", data: { turbo_frame: dom_id(Contribution.new, :commitment) } do %>
            New
          <% end %>
        </div>
      </div>
      <%= render "contributions_list", contributions: @commitment.contributions%>
    </div>
  </div>
</div>
