<div class="row align-items-center">
  <div class="col-auto"><%= image_tag(@foundation.resize_image_logo(40,40)) if @foundation.image_logo.attached? %></div>
  <div class="col d-flex justify-content-center">
    <ul class="nav nav-underline">
      <li class="nav-item">
        <%= link_to "Foundation", settings_foundation_path(@foundation), 
            class: "#{request.path == settings_foundation_path(@foundation)  ? "nav-link active" : "nav-link"}" %>
      </li>
      <li class="nav-item">
        <%= link_to "Donors", foundation_settings_donors_path(@foundation), 
            class: "#{request.path == foundation_settings_donors_path(@foundation)  ? "nav-link active" : "nav-link"}" %>
      </li>
      <li class="nav-item">
        <%= link_to "Organization Types", foundation_settings_organization_types_path(@foundation), 
            class: "#{request.path == foundation_settings_organization_types_path(@foundation)  ? "nav-link active" : "nav-link"}" %>
      </li>
      <li class="nav-item">
        <%= link_to "Funding Sources", foundation_settings_funding_sources_path(@foundation), 
            class: "#{request.path == foundation_settings_funding_sources_path(@foundation)  ? "nav-link active" : "nav-link"}" %>
      </li>
    </ul>
  </div>
</div>