<%# locals: (reconciliation:, reconciliation_counter: 0) -%>

<%#= turbo_frame_tag reconciliation do %>
  <div class="row  <%= reconciliation_counter.odd? ? "ct-odd" : "ct-even" %>">
    <div class="col-4 col-sm-2 ct-td">
      <%= reconciliation.started_at.strftime("%m/%d/%Y") %>
    </div>
    <div class="d-none d-sm-block col-sm-4 ct-td text-end">
      <%= reconciliation.starting_balance.format %>
    </div>
    <div class="col-4 ct-td text-end">
      <%= reconciliation.ending_balance.format %>
    </div>
    <div class="col-2 ct-td text-center">
      <div class="btn-group">
        <%= link_to reconciliation_path(reconciliation), 
            :"data-turbo-stream" => true, 
            class: "btn btn-sm btn-outline-primary" do %>
          <i class="bi bi-binoculars pe-1"></i>
        <% end %>
        <%= button_to reconciliation_path(reconciliation), method: :delete, class: "btn btn-sm btn-outline-danger", 
              form: {data: {turbo_confirm: 'Are you sure?'}} do %>
          <i class="bi bi-trash pe-1"></i>
        <% end %>         
      </div>
    </div>
  </div>
<%# end %> 