<%= turbo_frame_tag "reconciliation-main" do %>
  <div class="card card-secondary">
    <div class="card-header-dark">
      <div class="row align-items-center mx-0">
        <div class="col-auto px-1">
          <span class="badge text-bg-light mb-1">Statement : </span>
        </div>
        <div class="col px-1">
          <%= "#{@reconciliation.started_at.strftime("%m/%d/%Y")} - #{@reconciliation.ended_at.strftime("%m/%d/%Y")}" %>
        </div>
        <div class="col-2 text-end pe-3">
          <div class="btn-group">
            <%= link_to foundation_bank_account_reconciliations_cancel_path(@foundation, @bank_account),
                  :"data-turbo-stream" => true, class: "btn btn-sm " do %>
              <i class="bi bi-x-square pe-1"></i>Close
            <% end %> 
          </div>
        </div>
      </div>
    </div>
    <div class="card-body px-1">

      <div class="row align-items-center pb-2 mx-0">
        <div class="col-5 col-md-2">
          <span class="badge text-bg-dark">Starting Balance : </span>
        </div>
        <div class="col-6 col-md-4 text-center">
          <%= @reconciliation.starting_balance.format %>
        </div>
        <div class="col-5 col-md-2">
          <span class="badge text-bg-dark">Ending Balance : </span>
        </div>
        <div class="col-6 col-md-4 text-center">
          <%= @reconciliation.ending_balance.format %>
        </div>
      </div>

      <div class="card">
        <div class="card-header py-0 text-center">Transactions</div>
        <div class="card-body px-0 py-2">           
          <% @reconciliation.checks.each do |check| %>

            <div class="row mx-0 <%=  "bg-success bg-opacity-10" if check.credit? %>">
              <div class="col-4 col-md-2 px-1">
                <%= check.transaction_at.strftime("%m/%d/%Y") %>
              </div>
              <div class="d-none d-md-block col-md-1 px-1">
                <%= check.debit? ? check.check_number : "DEP" %>
              </div>
              <div class="d-none d-md-block col-md-5 px-1">
                <%= check.debit? ? check.contributions.take.organization.name : check.description %>
              </div>
              <div class="col-6 col-md-4 px-2 text-end">
                <%= "#{check.debit? ? "-" : "+"} #{check.amount.format}" %>
              </div>
            </div>
            
          <% end %>
        </div>
      </div>

    </div>
  </div>
<% end %>