<%# locals: (check:, check_counter: 0, check_iteration: 1) -%>
<%= turbo_frame_tag check do %>
  <div class="row my-table-row mx-0">
    <div class="col-4 col-md-2 px-0 pt-1 my-0 border border-secondary-subtle border-end-0 border-start-0">
      <%= check.transaction_at.strftime("%m/%d/%Y") %>
    </div>
    <div class="d-none d-md-block col-md-4 px-1 pt-1 my-0 border border-secondary-subtle border-end-0 border-start-0">
      <%= check.description %>
    </div>
    <div class="col-5 col-md-4 px-1 pt-1 my-0 border border-secondary-subtle border-end-0 border-start-0 text-end">
      <%= check.amount.format %>
    </div>
    <div class="col-3 col-md-2 px-1 my-0 text-center">
      <div class="btn-group">
        <%= link_to edit_check_path(check), class: "btn btn-sm btn-outline-secondary" do %>
          <i class="bi bi-pencil-square pe-1"></i>
        <% end %>
        <%= button_to check_path(check), method: :delete, class: "btn btn-sm btn-outline-danger", 
              form: {data: {turbo_confirm: 'Are you sure?'}} do %>
          <i class="bi bi-trash pe-1"></i>
        <% end %>         
      </div>
    </div>
  </div>
<% end %> 