<%# locals: (check:, form_url:) -%>
<%= form_with model: check, url: form_url, id: dom_id(check, "form"), class: "align-items-center pb-1 ps-4" do |f| %>

 <%= f.hidden_field :bank_account_id, value: @bank_account.id %>

  <div class="container pt-2">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <%= render 'shared/error_messages', resource: check %>
      </div>
    </div>
  </div>

  <div class="row align-items-center text-center">
    <div class="col-sm-2 px-1 my-1">
      <%= f.date_field :transaction_at, class: "form-control form-control-sm" %>  
    </div>
    <div class="col-sm-4 px-1 my-1">
      <%= f.text_field :description, class: "form-control form-control-sm" %>  
    </div>
    <div class="col-sm-4 px-1 my-1">
      <%= f.text_field :amount, class: "form-control form-control-sm" %>
    </div>
    <div class="col-sm-2 px-1 my-1">
      <%= f.button class: "btn btn-sm btn-outline-secondary text-start" do %>
        <% if check.id.nil? %>
          <i class="bi bi-plus-circle pe-1"></i>Add
        <% else %>
          <i class="bi bi-floppy pe-1"></i>Update
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
