<%# locals: ( funding_source:, funding_source_counter: 0, funding_source_iteration: 1 ) -%>
<%= turbo_frame_tag funding_source do %>
  <div class="row my-table-row mx-1 ">
    <div class="col-3 col-sm-2 px-1 pt-1 my-0 border border-secondary-subtle border-end-0 border-start-0">
      <%= funding_source.code %>
    </div>
    <div class="d-none d-sm-block col-sm-3 px-1 pt-1 my-0 border border-secondary-subtle border-end-0 border-start-0">
      <%= funding_source.short_name %>
    </div>
    <div class="col-6 col-sm-5 px-1 pt-1 my-0 border border-secondary-subtle border-end-0 border-start-0">
      <%= funding_source.full_name %>
    </div>
    <div class="col-3 col-sm-2 px-1 my-0 text-end">
      <div class="btn-group">
        <%= link_to edit_foundation_settings_funding_source_path(@foundation.id, funding_source), class: "btn btn-sm btn-outline-secondary" do %>
          <i class="bi bi-pencil-square pe-1"></i>
        <% end %>
        <%= button_to foundation_settings_funding_source_path(@foundation.id, funding_source), method: :delete, class: "btn btn-sm btn-outline-danger", 
              form: {data: {turbo_confirm: 'Are you sure?'}} do %>
          <i class="bi bi-trash pe-1"></i>
        <% end %>         
      </div>
    </div>
  </div>
<% end %>
