<%# locals: (donor:, donor_counter: 0, donor_iteration: 1) -%>
<%= turbo_frame_tag donor do %>
  <div class="row <%= donor_counter.odd? ? "ct-odd" : "ct-even" %>">
    <div class="col-3 col-sm-4 ct-td">
      <%= donor.code %>
    </div>
    <div class="col-6 ct-td">
      <%= donor.full_name %>
    </div>
    <div class="col-3 col-sm-2 ct-td text-center">
      <div class="btn-group">
        <%= link_to edit_foundation_settings_donor_path(@foundation.id, donor), class: "btn btn-sm btn-outline-primary" do %>
          <i class="bi bi-pencil-square pe-1"></i>
        <% end %>
        <%= button_to foundation_settings_donor_path(@foundation.id, donor), method: :delete, class: "btn btn-sm btn-outline-danger", 
              form: {data: {turbo_confirm: 'Are you sure?'}} do %>
          <i class="bi bi-trash pe-1"></i>
        <% end %>         
      </div>
    </div>
  </div>
<% end %>