<%# locals: (donor:, form_url:) -%>
<%= form_with model: donor, url: form_url, id: dom_id(donor, "form"), class: "align-items-center pb-1 ps-2" do |form| %>
  <div class="container pt-2">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <%= render 'shared/error_messages', resource: donor %>
      </div>
    </div>
  </div>

  <div class="row align-items-center text-center">
    <div class="col-sm-4 px-1 my-1">
      <%= form.text_field :code, class: "form-control form-control-sm" %>  
    </div>
    <div class="col-sm-6 px-1 my-1">
      <%= form.text_field :full_name, class: "form-control form-control-sm" %>
    </div>
    <div class="col-sm-2 px-1 my-1">
      <%= form.button class: "btn btn-sm text-start #{donor.id.nil? ? "btn-outline-success" : "btn-outline-primary"}" do %>
        <% if donor.id.nil? %>
          <i class="bi bi-person-add pe-1"></i>New
        <% else %>
          <i class="bi bi-floppy pe-1"></i>Save
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
