<%# locals: (user:, index:) -%>
<%= turbo_frame_tag user do %>
  <div class="row align-items-center p-0 m-0 <%= index.odd? ? "ct-odd" : "ct-even" %>">
    <div class="col ct-td"><%= user.email %></div>
    <div class="col ct-td">
      <% user.get_roles.each do |role| %>
        <span class="mx-2 px-3 text-small badge rounded-pill <%= "#{role == "user" ? "text-bg-secondary" : "text-bg-primary" }" %>"> 
          <%= role %>
        </span>
      <% end %>

      <% if user.sessions.count > 0 %>
        <span class="mx-1 px-3 text-small badge rounded-pill text-bg-success position-relative">
          Active
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            <%= user.sessions.count %>
          </span>
        </span>
      <% else %>
        <span class="mx-1 px-3 text-small badge rounded-pill text-bg-secondary">No Active Sessions</span>
      <% end %>

      <% if user.verified? %>
        <span class="mx-1 px-3 text-small badge rounded-pill text-bg-success">Email Verified</span>
      <% else %>
        <span class="mx-1 px-3 text-small badge rounded-pill text-bg-warning">Email NOT Verified!</span>
      <% end %>
    </div>

    <div class="col-auto ct-td">
      <div class="dropstart" role="group">
        <button
          type="button"
          class="btn btn-sm p-1 <%= "#{Current.user == user ? "btn-outline-disabled" : "btn-outline-primary" }" %>"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          <% if Current.user == user %>
            data-bs-tooltip="You can't edit your account here"
            title="Edit your account in your profile"
          <% end %>
        >
          <i class="bi bi-three-dots-vertical"></i>
        </button>
        <% if Current.user != user %>
        <ul class="dropdown-menu dropdown-menu-prime">
          <li>
            <%= link_to edit_user_path(user, index: index), :"data-turbo-stream" => true, class: "dropdown-item" do %>
              <i class="bi bi-pencil-square pe-1"></i>Edit
            <% end %>
          </li>
          <li>
            <%= button_to user, method: :delete, class: "dropdown-item", form: {data: {turbo_confirm: 'Are you sure?'}} do %>
              <i class="bi bi-trash pe-1"></i>Delete
            <% end %>          
          </li>
        </ul>
        <% end %>
      </div>  
    </div>
  </div>
<% end %>
