<div class="container">
  <div class="card">
    <div class="card-header">
      New User Account
    </div>
    <div class="card-body">
      <%= render 'shared/error_messages', resource: @user %>
      <%= form_with(url: sign_up_path) do |form| %>

        <div class="mb-2">
          <%= form.label :email, class: "form-label" %>
          <%= form.email_field :email, value: @user.email, required: true, autofocus: true, placeholder: "Email address", class: "form-control" %>
        </div>

        <div class="mb-1">
          <%= form.label :password, class: "form-label" %>
          <%= form.password_field :password, required: true, placeholder: "Password", class: "form-control" %>
          <p class="small">6 characters minimum.</p>
        </div>

        <div  class="mb-3">
          <%= form.label :password_confirmation, class: "form-label" %>
          <%= form.password_field :password_confirmation, required: true, placeholder: "Confirm password", class: "form-control" %>
        </div>

        <div class="d-grid">
          <%= form.submit "Create User", class: "btn btn-primary" %>
        </div>
      <% end %>

    </div>
  </div>
</div>




