<%# locals: ( contribution:, contribution_counter:, page: ) -%>
<%= turbo_frame_tag contribution do %>
  <div class="row <%= contribution_counter.odd? ? "ct-odd" : "ct-even" %> align-items-center py-1">
    <div class="col-10 col-md-7 col-lg-5">
      <div class="row align-items-center">
        <div class="col-6 col-sm-3 col-lg-3 ps-1">
          <%= contribution.agreement.transaction_at.strftime("%m/%d/%Y") %>
        </div>
        <div class="col-6 col-sm-5 col-lg-5 text-end">
          <%= contribution.formatted_amount %>
        </div>
        <div class="d-none d-sm-block col-sm-4 col-lg-4 text-center">
          <%= contribution.agreement_type.titleize %>
        </div>
      </div>
    </div>
    <div class="col-2 col-md-5 col-lg-7">
      <div class="row align-items-center">
        <div class="d-none d-md-block col-md-10 col-lg-7">
          <%= contribution.organization.name %>
        </div>
          <div class="d-none d-lg-block col-lg-3">
            <%= contribution.donor.code %>
          </div>        
        <div class="col-sm-2 px-1 text-center">
          <div class="dropstart" role="group">
            <button type="button" class="p-1 btn btn-sm btn-outline-dark" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li>
                <%= link_to foundation_contribution_path(@foundation, contribution), :"data-turbo-stream" => true, class: "dropdown-item" do %>
                  <i class="bi bi-folder-symlink pe-1"></i>Show
                <% end %>
              </li>
              <li>
                <%= link_to edit_foundation_contribution_path(@foundation, contribution, show: "0"), :"data-turbo-stream" => true, class: "dropdown-item" do %>
                  <i class="bi bi-pencil-square pe-1"></i>Edit
                <% end %>
              </li>
              <li>
                <%= button_to foundation_contribution_path(@foundation, contribution), method: :delete, class: "dropdown-item", form: {data: {turbo_confirm: 'Are you sure?'}} do %>
                  <i class="bi bi-trash pe-1"></i>Delete
                <% end %>          
              </li>
            </ul>
          </div>  
        </div>
      </div>
    </div>
  </div>
<% end %>