<div class="container pt-2">
  <%= render 'shared/error_messages', resource: contribution %>
</div>
<%= form_with model: contribution, url: form_url do |f| %>
  <%= f.hidden_field :organization_id, value: contribution.organization.id %>
  <%= f.hidden_field :agreement_type, value: contribution.agreement_type %>
  <%= f.hidden_field :show, value: show %>
  <%= f.hidden_field :index, value: index %>

  <div class="card-body pt-1 pb-2">
    <% if get_id(contribution) != -1 %>
      <div class="row">
        <div class="col">
    <% end %>
    
    <%= render "main_form", contribution: contribution, form: f %>

    <% if get_id(contribution) != -1 %>
        </div>
          <div class="col-auto">
            <div class="btn-group-vertical">
              <%= f.button class: "btn btn-nav text-start py-1" do %>
                <i class="bi bi-floppy pe-1"></i>Save
              <% end %>
              <%= link_to cancel_foundation_contribution_path(@foundation, get_id(contribution), :show => show, :index => index), 
                          :"data-turbo-stream" => true, 
                          class: "py-1 btn btn-nav text-start" do %>
                <i class="bi bi-x-square pe-1"></i>Cancel
              <% end %>          
            </div>
          </div>
      </div>
    <% end %>
  </div>

  <% if get_id(contribution) == -1 %>
    <div class="card-footer-dark py-1">
      <div class="row">
        <div class="col text-end"> 
          <%= f.button class: "btn btn-sm btn-outline-primary text-start py-1" do %>
            Finish<i class="bi bi-arrow-right-circle ps-1"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

<% end %>

