<div id="contributions-main" class="container py-3">

  <%= turbo_frame_tag @contribution do %>
    <div class="card-donation">
      <div class="card-header">
        <div class="row">
          <div class="col fs-bold">
            <i class="bi bi-buildings"></i>
            <%= @contribution.organization.name %>
          </div>
          <div class="col-auto">
            <span class="badge badge-orange mx-2">
              <% if @contribution.agreement_type == "Check" %>
                Check
              <% elsif @contribution.agreement_type == "FundsTransfer" %>
                Funds Transfer
              <% elsif @contribution.agreement_type == "InKind" %>
                In Kind
              <% end %>
              </span>
          </div>

        </div>
      </div>
      <div class="card-body">
        <% if @contribution.commitment.present? %>
          <div class="row align-items-center pb-3">
            <div class="col-auto"><span class="badge rounded-pill bg-secondary">Commitment Code : </span></div>
            <div class="col border-start border-secondary">
              <%= @contribution.commitment.code %>
            </div>
          </div>
        <% end %>

        <div class="row">
      
          <div class="col-sm-6 pb-1">
              <div class="row fw-bold">
                <div class="col-1">
                  <i class="bi bi-person"></i>
                </div>
                <div class="col ps-0">Donor</div>
              </div>
                <%#= render "fdn/donations/show_organization", organization: @contribution.organization %>
              <div class="row">
                <div class="col ps-0 offset-1">
                  <%= @contribution.donor.full_name %>
                </div>
                <div class="col"><span class="badge badge-dark me-3">CODE</span><%= @contribution.donor.code %></div>
              </div>
              <div class="row fw-bold mt-3">
                <div class="col-1">
                  <i class="bi bi-buildings"></i> 
                </div>
                <div class="col ps-0">Organization Details</div>
              </div>
              <div class="row text-small text-burntorange">
                <div class="col ps-0 offset-1">CONTACT: <%= @contribution.organization.contact %></div>
              </div>
              <div class="row">
                <div class="col ps-0 offset-1 text-xsmall">
                  <%= @contribution.organization.address_1 %><br>
                  <% if !@contribution.organization.address_2.blank? %>
                    <%= @contribution.organization.address_2 %>
                  <% end %>
                </div>
              </div>
              <div class="row">
                <div class="col ps-0 offset-1 text-xsmall">
                  <%= "#{@contribution.organization.city}, #{@contribution.organization.state} #{@contribution.organization.zip}" %><br>
                  <%= @contribution.organization.country %>
                </div>
              </div>
          </div>

          <div class="col-sm-6">
            <% if @contribution.agreement_type != "InKind" %>
              <%# ==== funding source / bank ==== %>
              <div class="row mb-2">
                <div class="col">
                  <div class="card mb-2">
                    <div class="row align-items-center">
                      <div class="col-1 m-2 text-burntorange"><i class="bi bi-bank2"></i></div>
                      <div class="col my-1 text-start">
                        <div class="row">
                          <div class="col fw-bold text-xsmall">Funding Source</div>
                        </div>
                        <div class="row">
                          <div class="col text-xsmall"><%= @contribution.agreement.funding_source.full_name %></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% if @contribution.agreement_type == "Check" %>
                  <div class="col">
                    <div class="card mb-2">
                      <div class="row align-items-center">
                        <div class="col-1 m-2 text-burntorange"><i class="bi bi-bank"></i></div>
                        <div class="col my-1 text-start">
                          <div class="row">
                            <div class="col fw-bold text-xsmall">Bank Account</div>
                          </div>
                          <div class="row">
                            <div class="col text-xsmall"><%= @contribution.agreement.bank_account.full_name %></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            <% else %>
              <div class="card mb-2">
                <div class="row align-items-center">
                  <div class="col-1 m-2 text-end text-burntorange"><i class="bi bi-basket"></i></div>
                  <div class="col my-1 text-start">
                    <div class="row">
                      <div class="col fw-bold text-xsmall">Type</div>
                    </div>
                    <div class="row">
                      <div class="col text-xsmall"><%= @contribution.agreement.type_of.titleize unless @contribution.agreement.type_of.nil? %></div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <%# ==== AMOUNT ==== %>
            <div class="card p-2">
              <div class="row align-items-center">
                <div class="col-1 text-burntorange"><i class="bi bi-currency-dollar pe-1"></i></div>
                <div class="col ps-0 text-start">
                  <div class="row">
                    <div class="col text-small fw-bold">Amount</div>
                  </div>
                  <div class="row">
                    <div class="col"><%= @contribution.formatted_amount %></div>
                  </div>
                </div>
              </div>
            </div>
            <%# ==== CHECK / DATE ==== %>
            <div class="row mt-2">
              <% if @contribution.agreement_type == "Check" %>
                <div class="col">
                  <div class="card mt-2">
                    <div class="row align-items-center">
                      <div class="col-1 m-2 text-burntorange"><i class="bi bi-cash"></i></div>
                      <div class="col my-1 text-start">
                        <div class="row">
                          <div class="col fw-bold text-xsmall">Check #</div>
                        </div>
                        <div class="row">
                          <div class="col"><%= @contribution.agreement.check_number %></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
              <div class="col">
                <div class="card mt-2">
                  <div class="row align-items-center">
                    <div class="col-1 m-2 text-burntorange"><i class="bi bi-calendar-date"></i></div>
                    <div class="col my-1 text-start">
                      <div class="row">
                        <div class="col fw-bold text-xsmall">Date</div>
                      </div>
                      <div class="row">
                        <div class="col"><%= @contribution.agreement.transaction_at.strftime("%m/%d/%Y") %></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="card p-2 mt-3">
          <div class="row">
            <div class="col-auto text-burntorange"><i class="bi bi-journal-text"></i></div>
            <div class="col ps-0 fw-bold">Description/Notes</div>
          </div>
          <div class="row">
            <div class="col ps-4">
              <%= @contribution.agreement.description %>
            </div>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <div class="row">
          <div class="col text-start">
            <%= link_to foundation_contributions_path(@foundation), class: "btn btn-nav", :"data-turbo-stream" => true do %>
              <div class="row text-center px-2">
                  <div class="col-auto px-1"><i class="bi bi-box-arrow-left"></i></div>
                  <div class="d-none d-md-block col ps-0">Back to contributions</div>
              </div>
            <% end %>
          </div>
          <div class="col text-center">
              <%= button_to foundation_contribution_path(@foundation, @contribution, show: "1"), method: :delete, class: "btn btn-nav-danger", form: {data: {turbo_confirm: 'Are you sure?'}} do %>
                <div class="row text-center px-2">
                    <div class="col-auto px-1"><i class="bi bi-trash"></i></div>
                    <div class="d-none d-md-block col ps-0">Delete</div>
                </div>
              <% end %>         
          </div>
          <div class="col text-end">
            <%= link_to edit_foundation_contribution_path(@foundation, @contribution, show: "1"), class: "btn btn-nav", :"data-turbo-stream" => true do %>
              <div class="row text-center px-2">
                  <div class="col-auto px-1"><i class="bi bi-pencil"></i></div>
                  <div class="d-none d-md-block col ps-0">Edit</div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  
</div>
