<div id="contributions-main" class="container py-3">

  <%= turbo_frame_tag @contribution do %>
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-auto fst-italic fs-bold">
            <%= @contribution.agreement_type.titleize %>:
          </div>
          <div class="col px-0">
            <div class="row">
              <div class="col"><span class="badge rounded-pill my-text-bg-secondary mx-2">Donor :</span><%= @contribution.donor.full_name %></div>
              <% if @contribution.agreement_type == "Check" %>
                <div class="col-auto text-end">
                  <%# <span class="badge rounded-pill my-text-bg-secondary">Check #</span> %>
                  <%= @contribution.agreement.check_number %>
                </div>
              <% end %>
            </div>
            
          </div>

        </div>
      </div>
      <div class="card-body">
        <% if @contribution.commitment.present? %>
          <div class="row align-items-center pb-3">
            <div class="col-auto"><span class="badge rounded-pill bg-secondary">Commitment Code : </span></div>
            <div class="col border-start border-secondary">
              <%= @contribution.commitment.code %>
            </div>
          </div>
        <% end %>

        <div class="row">
      
          <div class="col-sm-7 pb-1">
            <div class="card bg-warning bg-opacity-10 border-warning p-2 h-100">
              <div class="row">
                <div class="col-auto text-end">
                  <span class="badge rounded-pill bg-warning">To : </span>
                </div>  
                <%= render "fdn/donations/show_organization", organization: @contribution.organization %>
              </div>

            </div>
          </div>

          <div class="col-sm-5">
            <div class="card border bg-success bg-opacity-10 border-success p-2">

              <div class="row">
                <div class="col"><span class="badge rounded-pill bg-success">Date : </span></div>
                <div class="col text-end"><%= @contribution.agreement.transaction_at.strftime("%m/%d/%Y") %></div>
              </div>
              <div class="row">
                <div class="col"><span class="badge rounded-pill bg-success">Amt : </span></div>
                <div class="col text-end"><%= @contribution.formatted_amount %></div>
              </div>
            </div>
            <div class="card border border-info mt-1 p-2">
              <% if @contribution.agreement_type != "InKind" %>
                <div class="row">
                  <div class="col-4 col-lg-3 me-1">
                    <span class="badge rounded-pill bg-info">Source : </span>
                  </div>
                  <div class="col">
                    <%= @contribution.agreement.funding_source.code %>
                  </div>
                </div>
                <% if @contribution.agreement_type == "Check" %>
                  <div class="row">
                    <div class="col-4 col-lg-3 me-1">
                      <span class="badge rounded-pill bg-info">Account : </span>
                    </div>
                    <div class="col">
                      <%= @contribution.agreement.bank_account.full_name %>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <div class="row">
                  <div class="col-4 col-lg-3 me-1">
                    <span class="badge rounded-pill bg-info">Type : </span>
                  </div>
                  <div class="col">
                    <%= @contribution.agreement.type_of.titleize unless @contribution.agreement.type_of.nil? %>
                </div>              
              <% end %>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-auto"> <span class="badge rounded-pill bg-secondary">Notes : </span></div>
          <div class="col border-start border-secondary">
            <%= @contribution.agreement.description %>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <div class="row">
          <div class="col text-start">
            <%= link_to foundation_contributions_path(@foundation), class: "btn btn-sm btn-outline-secondary" do %>
              <div class="row text-center px-2">
                  <div class="col-auto px-1"><i class="bi bi-box-arrow-left"></i></div>
                  <div class="d-none d-md-block col ps-0">Back to contributions</div>
              </div>
            <% end %>
          </div>
          <div class="col text-center">
              <%= button_to foundation_contribution_path(@foundation, @contribution, show: "1"), method: :delete, class: "btn btn-sm btn-outline-danger", form: {data: {turbo_confirm: 'Are you sure?'}} do %>
                <div class="row text-center px-2">
                    <div class="col-auto px-1"><i class="bi bi-trash"></i></div>
                    <div class="d-none d-md-block col ps-0">Delete</div>
                </div>
              <% end %>         
          </div>
          <div class="col text-end">
            <%= link_to edit_foundation_contribution_path(@foundation, @contribution, show: "1"), class: "btn btn-sm btn-outline-secondary" do %>
              <div class="row text-center px-2">
                  <div class="col-auto px-1"><i class="bi bi-pencil"></i></div>
                  <div class="d-none d-md-block col ps-0">Edit</div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  
</div>
