<%# params: type, contribution_title, filter_url, next_page_url, cancel_url %>

<div class="card border-primary bg-primary bg-opacity-10 mb-2">

  <div class="card-header bg-primary bg-opacity-25 py-1">
    <div class="row">
      <div class="col fw-bold">
        <%= "New #{contribution_title} Wizard" %>
      </div>
      <div class="col-auto">[New Organization]</div>
    </div>      
  </div>
  
  <div class="row mx-2 my-1 border-primary border-bottom">
    <% if type == "contribution" %>
      <div class="col-auto pe-1">Type of Contribution :</div>
      <div class="col pb-1" data-controller="options" data-options-checked-value="ct_check">

        <input type="radio" class="btn-check" name="contribution_type" id="ct_check" autocomplete="off" value="Check" data-action="click->options#radio_clicked">
        <label class="btn btn-sm btn-outline-primary py-0" for="ct_check">Check</label>

        <input type="radio" class="btn-check" name="contribution_type" id="ct_funds_transfer" autocomplete="off" value="FundsTransfer" data-action="click->options#radio_clicked">
        <label class="btn btn-sm btn-outline-primary py-0" for="ct_funds_transfer">Funds Transfer</label>

        <input type="radio" class="btn-check" name="contribution_type" id="ct_in_kind" autocomplete="off" value="InKind" data-action="click->options#radio_clicked">
        <label class="btn btn-sm btn-outline-primary py-0" for="ct_in_kind">In Kind</label>        

      </div>
    <% else %>
      <input type="hidden" name="contribution_type" value="Check">
    <% end %>
  </div>
  <div class="row mx-2">
    <div class="col">Choose an Organization</div>
  </div>

  <div class="row mx-2 my-1">
    <div class="col">
      <%= form_tag filter_url, method: :get, data: { turbo_frame: "organizations-filter" } do |f| %>
        <div class="input-group">
          <%= text_field_tag "query", nil, placeholder: "Search ...", class: "form-control border-primary" %>
          <%= submit_tag "Filter", class: "btn btn-outline-primary" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row m-0">
    <div class="col px-0">
      <%= form_with url: next_page_url, method: :get do |form| %>
        <%= form.hidden_field :contribution_type, value: "", id: "set_contribution_type" %>
        <div class="px-0 container-fluid">
          <div class="mx-0 row tb-header">
            <div class="col-11 col-sm-5 offset-1">Name</div>
            <div class="d-none d-sm-block col-sm-4">Contact</div>
            <div class="d-none d-sm-block col-sm-2">Type</div>
          </div>
          <div class="container-fluid scroll bg-light">
            <%= turbo_frame_tag "organizations-filter" do %>
              <%= render "fdn/donations/organizations_filter",  organizations: @organizations %>
            <% end %>
          </div>
        </div>

        <div class="card-footer py-1">
          <div class="row">
            <div class="col text-start">
              <%= link_to cancel_url, class: "py-0 btn btn-sm btn-outline-primary text-start" do %>
                <i class="bi bi-x-square pe-1"></i>Cancel
              <% end %>  
            </div>
            <div class="col text-end"> 
              <%= button_tag class: "py-0 btn btn-sm btn-outline-primary text-start" do %>
                Next<i class="bi bi-arrow-right-circle ps-1"></i>
              <% end %>
            </div>
          </div>
        </div>

      <% end %>
    </div>
  </div>
  
</div>