<%# params: type, contribution_title, filter_url, next_page_url, cancel_url %>

<div id="organization-select" class="card card-secondary mb-2" data-controller="organization-select">

  <div class="card-header-dark py-1">
    <div class="row">
      <div class="col fw-bold"><%= "New #{contribution_title} Wizard" %></div>
      <div class="col text-end">
        <%= link_to cancel_url, :"data-turbo-stream" => true, class: "btn btn-sm me-2" do %>
          <i class="bi bi-x-square pe-1"></i>Cancel
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="container m-2">
    <div class="row justify-content-center">
      <%# New Organization %>
      <div class="col-md-5">
        <div class="card card-radiobtn" 
                  data-controller="card-radio-button" 
                  data-card-radio-button-foundation-id-value="<%= @foundation.id %>"
                  data-card-radio-button-organization-select-outlet="#organization-select">
          <div class="card-body">
            <div class="form-check">
              <label class="card-radiobtn form-check-label" for="new-org">
                <div class="card-radio-label-text">
                  <span class="fs-5">New Organization</span> <br> 
                  <span class="fs-6">Create a new organization</span>
                </div>
                <input class="form-check-input" type="radio" name="organization_choice" id="new-org" value="new" data-card-radio-button-target="radio">
              </label>
            </div>
          </div>
        </div>
      </div>
      <%# Existing Organization %>
      <div class="col-md-5">
        <div class="card card-radiobtn" 
                  data-controller="card-radio-button" 
                  data-card-radio-button-foundation-id-value="<%= @foundation.id %>"
                  data-card-radio-button-organization-select-outlet="#organization-select">
          <div class="card-body">
            <div class="form-check">          
              <label class="card-radiobtn form-check-label" for="existing-org">
                <div class="card-radio-label-text">
                  <span class="fs-5">Existing Organization</span> <br> 
                  <span class="fs-6">Select an existing organization</span>
                </div>
                <input class="form-check-input form-check-radio-input" type="radio" name="organization_choice" id="existing-org" value="existing" data-card-radio-button-target="radio">
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= turbo_frame_tag "contribution_organization_choice" %>

  <div id="card-footer" class="card-footer-dark-secondary" data-organization-select-target="cardFooter">
    <%= form_with url: next_page_url, method: :get do |form| %>
      <input type="hidden" id="selected_organization_id" name="organization_id" value="">
      
    <div class="row">
      <div class="col ">
        To: <span class="label-grey ms-2" id="organization_placeholder"></span>
      </div>
      <% if type == "contribution" %>
      <div class="col">
        <div class="row">
          <div class="col-auto pe-1">Type of Contribution :</div>
          <div class="col pb-1" data-controller="radio-buttons">
            <button class="radio-button" data-radio-buttons-target="button" data-value="Check">Check</button>
            <button class="radio-button" data-radio-buttons-target="button" data-value="FundsTransfer">Funds Transfer</button>
            <button class="radio-button" data-radio-buttons-target="button" data-value="InKind">In Kind</button>
            <input type="hidden" data-radio-buttons-target="selectedOption" name="contribution_type">
          </div>
        </div>
      </div>
      <% end %>
      <div class="col-auto text-end"> 
        <%= button_tag class: "py-0 btn btn-sm btn-secondary text-start" do %>
          Next<i class="bi bi-arrow-right-circle ps-1"></i>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>

</div>