<%= turbo_frame_tag "sidebar-frame" do %>

  <% if defined?(foundation) %>
    <div class="list-group mt-3">
      <%# nav item - dashboard  %>
      <%= link_to dashboard_foundation_path(foundation), class: "list-group-item list-group-item-action",  
          :"data-turbo-stream" => true, 
          "data-sidebar-target": "btn" do %>
        <i class="bi bi-speedometer2 me-2"></i>
        <span class="text">Dashboard</span>
      <% end %>
      <%# nav item - organizations  %>
      <%= link_to foundation_organizations_path(foundation), class: "list-group-item list-group-item-action",  
          :"data-turbo-stream" => true,
          "data-sidebar-target": "btn" do %>
        <i class="bi bi-buildings me-2"></i>
        <span class="text">Organizations</span>
      <% end %>
      <%# nav item - contributions  %>
      <%= link_to foundation_contributions_path(foundation), class: "list-group-item list-group-item-action",  
          :"data-turbo-stream" => true,
          "data-sidebar-target": "btn" do %>
        <i class="bi bi-credit-card me-2"></i>
        <span class="text">Contributions</span>
      <% end %>
      <%# nav item - accounting  %>
      <%= link_to foundation_bank_accounts_path(foundation), class: "list-group-item list-group-item-action",  
          :"data-turbo-stream" => true,
          "data-sidebar-target": "btn" do %>
        <i class="bi bi-bank me-2"></i>
        <span class="text">Accounting</span>
      <% end %>
      <%# nav item - reports  %>
      <%= link_to foundation_reporting_dashboard_path(foundation), 
          class: "list-group-item list-group-item-action",  
          :"data-turbo-stream" => true,
          "data-sidebar-target": "btn" do %>
        <i class="bi bi-printer me-2"></i>
        <span class="text">Reports</span>
      <% end %>
      <%# nav item - settings  %>
      <%= link_to settings_foundation_path(foundation), class: "list-group-item list-group-item-action", 
          :"data-turbo-stream" => true,
          "data-sidebar-target": "btn" do %>
        <i class="bi bi-gear me-2"></i>
        <span class="text">Settings</span>
      <% end %>
    </div>
  <% end %>

<% end %>

